﻿table {
    border:solid 1px black;
    border-collapse: collapse;
    width:600px;
    text-align:center;
    margin: 20px auto 0 auto;
}
tr:nth-child(1){
    border:solid 1px black;
}
td:nth-child(1){
    text-align:center;
    width:20px;
    border-right:solid 1px black;
}
td:last-child and td:nth-child(4){
    width:20px;
}
td:nth-child(3){
    width:25px;
}
tr:nth-child(2n) td {
    background-color: limegreen;
}
#add-task {
    margin: 20px auto;
    height: 21px;
    width: 216px;
    border: groove 1px;
    padding: 4px;
}
#error {
    text-align:center;
    width:225px;
    display:none;
    margin: 20px auto;
    color:red;
}
#task-status-filter {
    margin: -50px 100px;
    float:right;
}