﻿@model Todo.WebUI.Models.TaskModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form method="post" id="save"></form>
    <form id="cancle"></form>
        <h1>Task:editing</h1>
        <h2>Id: @Html.DisplayFor(m => m.Id)@Html.HiddenFor(m => m.Id)</h2>
        <p>Title: @Html.TextBoxFor(m => m.Title)</p>
        <p>IsDone: @Html.CheckBoxFor(m => m.IsDone)</p>
        <input type="submit" value="Save" form="save">
        <input type="button" value="Cancle" form="cancle">
    
</body>
</html>
