﻿@using Todo.Entities
@{
    Layout = null;
    List<TaskEntity> tasks = ViewBag.Task;
    string error = ViewBag.Error;
    string titleName = ViewBag.Title;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/Index.css" rel="stylesheet" />
    <script src="~/Scripts/Libs/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/Pages/tasks-page.js"></script>
</head>
<body>
    <input type="button" onclick="location.href='/Security/Logout';" value="Logout" style="float:right;margin:0 20px;" />
    <form method="post" onsubmit="return validate()">
        <div id="add-task">
            <input type="text" id="text" name="newTask" maxlength="50">
            <input type="submit" value="Add">
        </div>
        <select id="task-status-filter">
            <option value="" selected="selected">All</option>
            <option value="true">Completed</option>
            <option value="false">In progress</option>
        </select>
        <div id="error"></div>
        @if(error != null)
        {
            <div id="errorServer">
                @error
            </div>
        }
    </form>
        <table>
            <tr>
                <td>#</td>
                <td>Task</td>
                <td>Done</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <div id="tasks-table">@Html.Partial("TasksPatrial", tasks)</div>
        </table>
</body>
</html>
