﻿@model List<Todo.Entities.TaskEntity>

@foreach(var t in Model)
{
    <tr>
        <td>@t.Id</td>
            @if(t.IsDone)
        {
            <td style="text-decoration:line-through;background-color:blue;color:white">@t.Title</td>
            <td><input type="checkbox" checked="checked" data-task-id="@t.Id"></td> 
        }else
        {
            <td>@t.Title</td>
            <td><input type="checkbox" data-task-id="@t.Id"></td>
        }
        <td><form method="post" action="/task/done"><input type="hidden" value="@t.Id" name="taskId"><input type="submit" value="Done"></form></td>
        <td><form method="post" action="/task/delete"><input type="hidden" value="@t.Id" name="taskId"><input type="submit" value="-"></form></td>
        <td><a href="/task/edit?id=@t.Id">Edit</td>
    </tr>
}