﻿@using Todo.Entities
@{
    Layout = null;
    List<TaskEntity> tasks = ViewBag.task;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/Index.css" rel="stylesheet" />
</head>
<body>
    <form method="post">
        <div id="add-task">
            <input type="text" name="newTask">
            <input type="submit" value="Add">
        </div>
    </form>
    <form method="post" id="Done" action="Done"></form>
        <table>
            <tr>
                <td>#</td>
                <td>Task</td>
                <td>Done</td>
                <td></td>
            </tr>
            @foreach(var t in tasks)
            {
                <tr>
                    <td>@t.Id</td>
                    <td>@t.Title</td>
                    @if(t.IsDone)
                    {
                        <td><input type="checkbox" checked="checked" disabled="disabled"></td> 
                    }else
                    {
                        <td><input type="checkbox"></td>
                    }
                    <td><input type="submit" value="Send" name="@t.Id" form="Done"></td>
                </tr>
            }
        </table>
</body>
</html>
