﻿@model Todo.WebUI.Models.LoginModel
@{
    string error = ViewBag.LoginErr;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="post">
        <label>User name:</label>
        @Html.TextBoxFor(m => m.Name, new { @Value = "admin" })<br>
        <label>Password:</label>
        @Html.PasswordFor(m => m.Pass, new { @Value = "1" })<br>
        <input type="checkbox" value="true">Remember me<br>
        <a href="#">Forgot your password?</a><br>
        <input type="submit" value="Login"/>
        @if (error != null)
        {
            <div id="error">@error</div>
        }
    </form>
</body>
</html>
